*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color: #ffffff;
}

.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.header, .nav, .header-content, .card {
    background-color: var(--background-color);
    color: var(--text-color);
}

.container{
    margin: 0 auto;
    padding: 0 80px;
}
.header{
    width: 1440px;
    color: white;
}
.nav{
    width: 100%;
    padding: 0 40px 0 40px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B3844;

}
#daynight{
    width: 120px;
    height: 40px;
    background-color: rgb(136, 136, 235);
    border: none;
    border-radius: 30px;
    color: white;
}
#daynight:hover{
    width: 121px;
    height: 41px;
}
#search{
    width: 480px;
    height: 56px;
    padding-left: 74px;
    background-color: #2B3844;
    margin: 48px 0;
}
#filter{
    width: 120px;
    height: 54px;
    border: none;
    background-color: rgb(136, 136, 235);
    color: white;
    border-end-end-radius: 20px;
}
.container-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 264px;
    height: 250px;
    text-align: center;
    background-color: #2B3844;
    margin-bottom: 160px;
}
.card img{
    width: 100%;
    height: 160px;
}

.card h3{
    margin-top: 32px;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
}